:root {
  --font-family: 'Roboto';
  --body-font-size: 16px;
  --body-line-height: 20px;
  --body-font-weight: 400;

  --container-width: 1170px;

  --color-dark-grey: #312e2e;
  --color-dark-blue: #122638;
  --color-light-blue: #1a3f55;
}
